<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="/Users/mac/Documents/Automation project/LoginFuntion">
        <classes>
            <class name="Testpages.LoginTest">
                <methods>
                <include name="loginFunction"/>
                <include name="testInvalidLogin"/>
            </methods>
            </class>
        </classes>
    </test>
</suite>